In [10]:
import pandas as pd
import seaborn as sns

In [86]:
# Read csv file
df = pd.read_csv('Records.csv')

In [110]:
#gives you first row
df.iloc[0].values

array(['Sub-Saharan Africa', 'South Africa', 'Fruits', 'Offline', 'M',
       '7/27/2012', 443368995, '7/28/2012', 1593, 9.33, 6.92, 14862.69,
       11023.56, 3839.13], dtype=object)

In [90]:
df.index[0]
df.tail(1).index
df.iloc[0,7]

'7/28/2012'

In [12]:
print("i. The record with the highest total profit including the amount, order ID, and index number in the list.")

df1=df[['Order ID','Total Profit']]

#Sort values highest to lowest
df1_sorted = df1.sort_values( by ='Total Profit',ascending=False)
print(df1_sorted.head(1))

i. The record with the highest total profit including the amount, order ID, and index number in the list.
         Order ID  Total Profit
283913  261322534     1738703.0

In [13]:
print("ii. The record with the lowest total profit including the amount, order ID, and index number in the list.")

df1=df[['Order ID','Total Profit']]

df1_sorted = df1.sort_values( by ='Total Profit')

print(df1_sorted.head(1))

ii. The record with the lowest total profit including the amount, order ID, and index number in the list.
         Order ID  Total Profit
367995  822855222          2.36

In [14]:
print("iii. Top 10 highest total profit values.")

df1=df[['Order ID','Total Profit','Order Date']]

#Sort values
df1_sorted = df1.sort_values( by ='Total Profit',ascending=False)

print(df1_sorted.head(10))

iii. Top 10 highest total profit values.
         Order ID  Total Profit  Order Date
283913  261322534    1738703.00   6/20/2016
216875  174407804    1738702.00   2/18/2016
53894   707318103    1738701.00   3/16/2016
483009  340228402    1738700.00   4/11/2016
110349  181233918    1738528.13   3/13/2011
78355   504866254    1738527.13  12/16/2010
493663  345871770    1738354.26   6/13/2013
435002  878782069    1738353.26    7/9/2013
277787  344689023    1738180.39   7/23/2015
137392  553966987    1738179.39  11/14/2015

In [15]:
print("iv. Bottom 10 lowest total profit orders")

df1=df[['Order ID','Total Profit','Order Date']]

df1_sorted = df1.sort_values( by ='Total Profit')

print(df1_sorted.head(10))

iv. Bottom 10 lowest total profit orders
         Order ID  Total Profit Order Date
367995  822855222          2.36  7/18/2013
407908  700491988          2.37  7/27/2013
422501  657034623          2.38  5/27/2013
477896  211039054          2.39  8/31/2013
478720  289944922          2.40  6/22/2013
184545  737123239          4.77   2/7/2011
225115  413490903          4.78   5/5/2011
228178  535854136          4.79  4/26/2011
285097  658217370          4.80  4/18/2011
406026  614760005          4.81  2/15/2011

In [98]:
# Use the set_index and to_dict methods of the dataframe to create the dictionary
# Creating dictionary with top 10 highest values due to computer performance challenges

df2 = df[['Order ID','Ship Date', 'Total Revenue']].sort_values( by = 'Total Revenue').head(10) 
df_fordict = df1_sorted.head(10)
my_dict = df_fordict.set_index('Order ID').T.to_dict('list')
my_dict

{822855222: [2.36, '7/18/2013'],
 700491988: [2.37, '7/27/2013'],
 657034623: [2.38, '5/27/2013'],
 211039054: [2.39, '8/31/2013'],
 289944922: [2.4, '6/22/2013'],
 737123239: [4.77, '2/7/2011'],
 413490903: [4.78, '5/5/2011'],
 535854136: [4.79, '4/26/2011'],
 658217370: [4.8, '4/18/2011'],
 614760005: [4.81, '2/15/2011']}

In [100]:
# prompt user for order ID
order_no = int(input('Please enter an Order ID to locate: '))
#order_no = (input('Please enter an Order ID to locate: '))

Please enter an Order ID to locate: 289944922

In [108]:
print("Order ID: ", order_no)
# get method
orderid1 = my_dict.get(order_no, 'Record was not found')  

print(orderid1[0])

print(orderid1[1])
orderid1[0]

#how to get item out of a list
#



#print(df.iloc[(df['Order ID' = order_no).values [7, 11]])
#if int(df2) == int(df.iloc[i][6]):
       # print('Order ID: ',df.loc[i][6])
       # print('Ship date: ',df.loc[i][7])
       # print('Total Profit: ',df.loc[i][12])
    
#for 
   # return my_dict.values()

#print(getList(my_dict))
## TODO: FIX FORMAT

Order ID:  289944922
2.4
6/22/2013

2.4

In [76]:
import pickle

In [104]:
class Order:

    def __init__(self, order_ID, ship_date, total_profit):
        self.__order_ID = order_ID
        self.__ship_date = ship_date
        self.__total_profit = total_profit
        
    def set_order_ID(self, order_ID):
        self.__order_ID = order_ID
            
    def set_ship_date(self, ship_date):
        self.__ship_date = ship_date
    
    def set_total_profit(self, total_profit):
        self.__total_profit = total_profit

    def get_order_ID(self):
        return self.__order_ID
    
    def get_ship_date(self):
        return self.__ship_date
    
    def get_total_profit(self):
        return self.__total_profit
    
    def __str__(self):
        return 'Order: ' + self.get_order_ID() + \
               'Ship Date: ' + self.get_ship_date() + \
               'Total Profit: ' + self.get_total_profit() 
    
#SpecificOrder = Order(my_dict,my_dict,my_dict)
#print(SpecificOrder)

In [106]:
output_file = open('record_objects.dat', 'wb')
record_list = []
for i in range(100):
    my_object = Order(df.iloc[i,6],df.iloc[i,7],df.iloc[i,13])
    
    record_list.append(my_object)
    
pickle.dump(my_object,output_file)
        
output_file.close()