In [54]:
import pandas as pd
import seaborn as sns

In [55]:
# Read csv file
df = pd.read_csv('records.csv')
#df = open('records.csv', 'r')

In [56]:
print("i. The record with the highest total profit including the amount, order ID, and index number in the list.")

df1=df[['Order ID','Total Profit']]

#Sort values highest to lowest
df1_sorted = df1.sort_values( by ='Total Profit',ascending=False)

#head() is used to print the number of records from the top
print(df1_sorted.head(1))

i. The record with the highest total profit including the amount, order ID, and index number in the list.
         Order ID  Total Profit
283913  261322534     1738703.0

In [57]:
print("ii. The record with the lowest total profit including the amount, order ID, and index number in the list.")

df1=df[['Order ID','Total Profit']]

df1_sorted = df1.sort_values( by ='Total Profit')

print(df1_sorted.head(1))

ii. The record with the lowest total profit including the amount, order ID, and index number in the list.
         Order ID  Total Profit
367995  822855222          2.36

In [58]:
print("iii. Top 10 highest total profit values.")

df1=df[['Order ID','Total Profit','Order Date']]

#Sort values
df1_sorted = df1.sort_values( by ='Total Profit',ascending=False)

print(df1_sorted.head(10))

iii. Top 10 highest total profit values.
         Order ID  Total Profit  Order Date
283913  261322534    1738703.00   6/20/2016
216875  174407804    1738702.00   2/18/2016
53894   707318103    1738701.00   3/16/2016
483009  340228402    1738700.00   4/11/2016
110349  181233918    1738528.13   3/13/2011
78355   504866254    1738527.13  12/16/2010
493663  345871770    1738354.26   6/13/2013
435002  878782069    1738353.26    7/9/2013
277787  344689023    1738180.39   7/23/2015
137392  553966987    1738179.39  11/14/2015

In [59]:
print("iv. Bottom 10 lowest total profit orders")

df1=df[['Order ID','Total Profit','Order Date']]

df1_sorted = df1.sort_values( by ='Total Profit')

print(df1_sorted.head(10))

iv. Bottom 10 lowest total profit orders
         Order ID  Total Profit Order Date
367995  822855222          2.36  7/18/2013
407908  700491988          2.37  7/27/2013
422501  657034623          2.38  5/27/2013
477896  211039054          2.39  8/31/2013
478720  289944922          2.40  6/22/2013
184545  737123239          4.77   2/7/2011
225115  413490903          4.78   5/5/2011
228178  535854136          4.79  4/26/2011
285097  658217370          4.80  4/18/2011
406026  614760005          4.81  2/15/2011

In [ ]:
print("Order Search Function")

print("******************************************************************")

#df1=df[['Order ID','Total Profit','Order Date']]
df2 = input('Please enter an Order ID to locate: ')
#df5 = df[['Order ID', 'Ship Date', 'Total Revenue']]

#df3 = df2.loc[df2, 'Ship Date']
#df3 = df.loc[0][6]

# print(type(df.loc[0][6]))


for i in range(0, len(df)):
    if int(df2) == int(df.loc[i][6]):
        print('Order ID: ',df.loc[i][6])
        print('Ship date: ',df.loc[i][7])
        print('Total Profit: ',df.loc[i][12])

if int(df2) not in int(df.loc[i][6]):
    print('This Order ID does not exist.')
        
    
#print(df2)
#print(df3)
#df1 = df[['Order ID', 'Ship Date','Total Profit']]

#if df2 in df['Order ID']:
    #df2 = df['Order ID', 'Ship Date','Total Profit']
    #print ('Order ID: ', df2)
    #for df2 in df:
        #print ("Ship Date: ", 'Ship date')
        #print("Total Profit: ", 'Total Profit')
#else:
    #print('This Order ID does not exist.')[0

In [ ]:
class Order:

    def __init__(self, Order ID, Ship Date, Total Profit):
        self.__Order ID = Order_ID
        self.__Ship Date= Ship_date
        self.__Total Profit = Total_Profit
        
    def set_Order ID(self, Order_ID):
         self.__Order ID = Order_ID
    def set_id_number(self, id_number):
      self.__id_number = id_number
    def set_department(self, department):
      self.__department = department